@footer-height: 144px;
@container-md-max-width: 1100px;

@font-face {
    font-family: 'Geogrotesque-Regular';
    src: url('Geogrotesque-Regular.eot');
    src: url('Geogrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('Geogrotesque-Regular.woff2') format('woff2'),
        url('Geogrotesque-Regular.woff') format('woff'),
        url('Geogrotesque-Regular.ttf') format('truetype'),
        url('Geogrotesque-Regular.svg#Geogrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque-Bold';
    src: url('Geogrotesque-Bold.eot');
    src: url('Geogrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('Geogrotesque-Bold.woff2') format('woff2'),
        url('Geogrotesque-Bold.woff') format('woff'),
        url('Geogrotesque-Bold.ttf') format('truetype'),
        url('Geogrotesque-Bold.svg#Geogrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

[v-cloak] { display: none }

html, body {
  height: 100%;
  margin: 0;
}

.hb-logo img {
  margin-top: -25px;
}





.dirt {
  background: url('/images/dirt.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.dirt-white {
  background: url('/images/dirt-white.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;
  pointer-events: none;
  opacity: 0.3;
  // mix-blend-mode: soft-light;
}

#page-wrap {
  height: 100%;
  height: auto!important;
  min-height: 100%;
  position: relative;
  padding-bottom: 0px;

  header {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    z-index: 2;
    padding: 3.5rem 4rem;
    .run-party-menu {
      width: 25% !important;
      flex-direction: row-reverse !important;
      span.separator {
          color: initial;
          height: 40px;
          padding: 8px 0px;
        }
      a {
        width: auto;
        margin-right: 0px !important;
        &:hover, &.active {
          span{
            font-family: 'Geogrotesque-Bold';
          }
        }
      }
    }
    a {
      width: 103px;
      height: 40px;
      text-align: center;
      position: relative;
      font-family: 'Geogrotesque-Regular';
      font-size: 16px;

      .red {
        background: url(/images/menu-over.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 103px;
        height: 40px;
        display: block;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
      span {
        z-index: 1;
        position: relative;
      }
      cursor: pointer;
      color: black;
      font-family: 'Geogrotesque-Regular';
      font-size: 16px;
      // .strikeout {
      //   font-size: 4em;
      //   line-height: 1em;
      //   position: relative;
      // }
      // .strikeout::after {
      //   border-bottom: 0.125em solid red;
      //   content: "";
      //   left: 0;
      //   margin-top: calc(0.125em / 2 * -1);
      //   position: absolute;
      //   right: 0;
      //   top: 50%;
      // }
      &:hover {
        // color: red;
        // text-decoration: line-through;
        .red {
          visibility: visible;
        }
      }
      &.active {
        // color: red;
        // text-decoration: line-through;
        .red {
          visibility: visible;
        }
      }
    }
    .dropdown-menu.account-menu {
      left: auto;
      right: 0px;
    }
  }

  // App-wide styles for our ajax buttons
  .ajax-button {
    .ajax-button();
  }
}

#page-footer {
  height: @footer-height;
  width: 100%;
  // height: 144px;
  color: red;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: transparent;

  .instagram-hb {
    text-decoration: none;
    font-family: 'Geogrotesque-Bold';
    font-size: 10px;
    margin-right: 70px;
    cursor: pointer;
    img {
      margin-right: 5px;
    }
    span {
    font-family: 'Geogrotesque-Regular';
      
    }
  }

  .xs-only {
    display: none;
  }
  #play-pause {
    cursor: pointer;
    width: 16px;
    height: 23px;
    display: block !important;
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
    margin-left: 70px;
  }
}


@media (max-width: 800px) {
  #page-wrap {
    padding-bottom: 75px;
    #page-footer {
      height: 75px;
      .copy, .nav {
        width: 100%;
        display: block;
        text-align: center;
        .nav-item {
          display: inline-block;
          a {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #page-wrap {
    padding-bottom: 85px;
    #page-footer {
      height: 85px;
      .xs-only {
        display: block;
      }
    }
  }
}

