body, html {
  background-color: transparent;
}

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

#gallery {
  background-color: transparent;
  a:not(.btn) {
    color: @brand;
    border-bottom: 1px solid @text-normal;
    &:hover {
      text-decoration: none;
      color: @text-normal;
    }

  

  }

.container {
  margin-top: 100px;
  @media (min-width: 1400px) {
      max-width: 1400px;
  }
}

  .grid {
    background: transparent;
  }

  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */
.gutter-sizer { width: 1%; }
  .grid-sizer,
  .grid-item {
    width: 30%;
    margin-bottom: 10px;

  }

  .grid-item {
    float: left;
    width: 30%;
    position: relative;

    margin-bottom: 10px;
    &:hover {
      .red, .description {
        visibility: visible;
      }
    }
    
  }
  .grid-item .red {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    mix-blend-mode: multiply;
    background-color: #FB000C;
      // background-blend-mode: multiply;

  }
  .description {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 30%;
  visibility: hidden;

  }
  .description p {
  font-family: 'Geogrotesque-Regular';
  font-size: 16px;
  color: white;
  width: 100%;
  margin: 0;
  text-align: center;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
    // padding: 1%;
    
  }

  .hero {
    
    padding-top: 100px;
    padding-bottom: 25px;
    color: @brand;
    position: relative;
    .hero-image {
      width: 220px;
      height: 170px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      
      .party {
        text-decoration: none;
        border: none;
        position: absolute;
        width: 226px;
        height: 47px;
        left: -160%;
        top: 25px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url(/images/highbeamsdubai-home-party-btn.png);
        cursor: pointer;
        &:hover {
          background-position: 0px -49px;
        }
      }
      .run {
        text-decoration: none;
        border: none;
        position: absolute;
        width: 226px;
        height: 50px;
        top: 25px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url(/images/highbeamsdubai-home-run-btn.png);
        left: 160%;
        cursor: pointer;
        &:hover {
          background-position: 0px -50px;
        }
      }
      .logo {
        width: 123px;
        height: 74px;
        left: 51px;
      }
      .sky {
        width: 170px;
        left: 25px;
        top: 25px;
      }
      .cloud {
        .fly-fade();
        width: 80px;
        &.cloud-1 {
          top: 55px;
          left: -40px;
          opacity: 0;
          .animation-delay(3.5s);
        }
        &.cloud-2 {
          top: 45px;
          left: -40px;
          opacity: 0;
        }
      }
      .ship {
        .skid();
        width: 160px;
        bottom: 50px;
        left: 18px;
      }
      .water {
        width: 170px;
        bottom: 40px;
        left: 25px;
      }
    }
    h1 {
      padding-bottom: 50px;
    }
    .more-info-text {
      .bob();
      cursor: pointer;
      margin-top: 75px;
      position: absolute;
      width: 100%;
      bottom: 25px;
      left: 0px;
      .text {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
      }
      .icon {
        font-size: 20px;
      }
    }
  }

  .about-wrapper {
    background-color: #eef5f9b8;
    .about {
      padding-top: 75px;
      padding-bottom: 50px;
      p {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .features {
      padding-top: 25px;
      padding-bottom: 100px;
      .feature {
        .icon {
          background-color: @brand;
          color: @accent-white;
          width: 75px;
          height: 75px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 25px;
          border-radius: 50%;
          font-size: 35px;
          line-height: 75px;
          text-align: center;
        }
      }
    }
  }


  .setup {
    padding-top: 75px;
    .step {
      margin-top: 75px;
      margin-bottom: 75px;
      padding-left: 240px;
      position: relative;
      .step-image {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 140px;
        img {
          width: 100%;
        }
      }
    }
  }

  .pep-talk {
    padding-top: 50px;
    padding-bottom: 100px;
    p {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    a {
      border-bottom: none;
    }
  }

  &.uninitialized {
    height: 100%;
    .hero, .about, .features, .setup, .pep-talk {
      opacity: 0;
    }
  }

  @media (max-width: 991px) {
    .setup {
      .step {
        padding-left: 0px;
        .step-image {
          display: none;
        }
      }
    }
  }
}
