<div id="about" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <!-- <img src="/images/highbeamsdubai-about-background.png" width="100%" height="auto" alt=""> -->
    <div class="container container-about">
    	<div class="row">
    		<div class="col-lg-6 col-12">
    			<img src="/images/hb-about-main.png" class="about-img" alt="">
    		</div>
    		<div class="col-lg-6 col-12">
    			<p class="hb-title">HIGH BEAMS <span>vibes first</span></p>
    			<p class="text">
    				
    			High Beams is a run crew and sound system based in Dubai, and founded on the ethos of "Vibes First". When you have people in your crew from all over the world, vibes is the common language. And wherever you're DJing, setting good vibes is everything.  
    			</p>
				<p class="text">
					
    			Like other run crews, our training involves more than long distance running. We also sprint, box, surf and occasionally wear Bane like altitude masks (What up, Corie). Like other sound systems, we can spin records - any genre - and work the mic (Tell 'em, Nnamdi). 
				</p>
				<p class="text">
					
    			If you're interested in running with High Beams, or booking us for a gig, DM <a href="www.instagram.com/highbeamsdubai" target="_blank">@highbeamsdubai</a>. We'll hit you back with details... and the appropriate meme... if we like your vibes.  
				</p>
    		</div>
    	</div>
    	<div class="row sponsors">

            <div class="col-md-4">
                <a href="http://instagram.com/djcrownprince" target="_blank" class="shade sponsor sponsor-4"><img src="/images/instagram.png" alt=""></a><p class="sponsor-name">CORIE <span>DJ / Event Curator </span></p><p class="description"> </p>
            </div>
    		<div class="col-md-4">
                <a href="http://instagram.com/1takennandos" target="_blank" class="shade sponsor sponsor-1"><img src="/images/instagram.png" alt=""></a><p class="sponsor-name">NNAMDI <span>PRODUCER / DJ</span></p><p class="description"> </p>
            </div>

            <div class="col-md-4">
                <a href="http://instagram.com/bj_deguzman" target="_blank" class="shade sponsor sponsor-3"><img src="/images/instagram.png" alt=""></a><p class="sponsor-name">BJ <span>CREATIVE DIRECTOR</span></p><p class="description"> </p>
            </div>
    	</div>
    <div class="row sponsors">

            
            <div class="col-md-4">
                <a href="http://instagram.com/midoraibi" target="_blank" class="shade sponsor sponsor-2"><img src="/images/instagram.png" alt=""></a><p class="sponsor-name">MIDO <span>MARKETER</span></p><p class="description"> </p>
            </div>
            <div class="col-md-4">
                <a href="http://instagram.com/camelsmariam" target="_blank" class="shade sponsor sponsor-5"><img src="/images/instagram.png" alt=""></a><p class="sponsor-name">MARIAM <span>PAINTER</span></p><p class="description"> </p>
            </div>
            <div class="col-md-4">
                <a href="http://instagram.com/i_riddick" target="_blank" class="shade sponsor sponsor-6"><img src="/images/instagram.png" alt=""></a><p class="sponsor-name">IAN <span>MARKETER</span></p><p class="description"> </p>
            </div>
        </div>
    </div>
        
    </div>
  </div>
  
  
</div>
<div class="dirt-white"></div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
