<div id="about" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <!-- <img src="/images/highbeamsdubai-about-background.png" width="100%" height="auto" alt=""> -->
    <div class="container container-about">
    	<div class="row">
    		<div class="col">
    			<img src="/images/hb-about-main.png" alt="">
    		</div>
    		<div class="col">
    			<p class="hb-title">HIGH BEAMS <span>vibes first</span></p>
    			<p class="text">
    				
    			High Beams is a run crew and sound system based in Dubai and founded on the ethos of "Vibes First". When you have people in your run crew from all over the world, vibes is really the common language. And wherever you're DJing, good vibes is what you want to give the people. 
    			</p>
				<p class="text">
					
    			Like other run crews, our training involves more than long distance running. We sprint just as much. We also box, surf and occasionally wear Bane like altitude masks (what up, Corie). Unlike other run crews, we're fully self-sufficient when it comes to partying since half of the crew are DJs. 
				</p>
				<p class="text">
					
    			If you're interested in running with High Beams, or booking us for a gig, please slide into the DMs of one of our Captains (@djcrownprince or @1takennandos) and they'll take it from there. Peace! 
				</p>
    		</div>
    	</div>
    	<div class="row sponsors">
    		<div class="col"><a href="http://instagram.com/1takennandos" target="_blank" class="shade sponsor sponsor-1"></a><p class="sponsor-name">NNAMDI <span>PRODUCER / DJ</span></p><p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
    		<div class="col"><a href="http://instagram.com/midoraibi" target="_blank" class="shade sponsor sponsor-2"></a><p class="sponsor-name">MIDO <span>MARKETER</span></p><p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
    		<div class="col"><a href="http://instagram.com/bj_deguzman" target="_blank" class="shade sponsor sponsor-3"></a><p class="sponsor-name">BJ <span>CREATIVE DIRECTOR</span></p><p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
    		<div class="col"><a href="http://instagram.com/djcrownprince" target="_blank" class="shade sponsor sponsor-4"></a><p class="sponsor-name">CORIE <span>PRODUCER / DJ</span></p><p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
    	</div>
    </div>
  </div>
  
  
</div>
<div class="dirt-white"></div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
