<div id="blog" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div id="grids-gallery" class="grids-gallery">
  	<div class="container">
  			
  				  	<section class="grids-wrap">
  				  	<div class="grids row">
  				  		<!-- <li class="grids-sizer"></li> -->
  						<% _.each(feeds.items, function (post) { %>
  						<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"><a href="<%= post.link %>" target="_blank">
  							<figure>
  								<img src="<%= post.thumbnail %>" alt="">
  								<figcaption><h3><%= post.title %></h3></figcaption>
  							</figure>
  							</a>
  						</div>
  							
  						<% }) %>
  				  	</div>
  				  	</section>
  			
  	</div>
  </div>
	 
  
</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
