<div id="gallery" :class="[heroHeightSet ? '' : 'uninitialized']">
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <img src="/images/highbeamsdubai-gallery-background.png" width="100%" height="auto" alt="">
  </div>
  
  
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
