<div id="gallery" :class="[heroHeightSet ? '' : 'uninitialized']">
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <!-- <img src="/images/highbeamsdubai-gallery-background.png" width="100%" height="auto" alt=""> -->

    <div class="container">
    	
  	<div class="row">
  		<div class="col">
  			<div class="grid">
  			  <div class="grid-sizer"></div>
  			  <div class="gutter-sizer"></div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-01.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-02.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-03.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-01.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-02.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-03.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-01.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-02.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-03.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-01.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-02.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-03.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-01.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-02.png" />
  			  </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>Lorem Ipsu</p><p>description of the picture</p></div>
  			    <img src="/images/gallery-03.png" />
  			  </div>
  			  
  			</div>
  		</div>
  	</div>
    </div>
  </div>
  
</div>
<% block('localScripts', '<script src="/dependencies/imagesloaded.pkgd.min.js"></script>') %>
<% block('localScripts', '<script src="/dependencies/masonry.pkgd.min.js"></script>') %>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
