<div id="gallery" :class="[heroHeightSet ? '' : 'uninitialized']">
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <!-- <img src="/images/highbeamsdubai-gallery-background.png" width="100%" height="auto" alt=""> -->

    <div class="container">
    	
  	<div class="row">
  		<div class="col">
  			<div class="grid">
  			  <div class="grid-sizer"></div>
  			  <div class="gutter-sizer"></div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-01.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Kite Beach</p></div>
            <img src="/images/gallery/run-kite-05.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-01.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-02.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-05.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Capetown</p></div>
            <img src="/images/gallery/run-capetown-01.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-03.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-06.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Kite Beach</p></div>
            <img src="/images/gallery/run-kite-04.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-02.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Dubai Water Canal</p></div>
            <img src="/images/gallery/run-water-canal-01.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-04.jpg" />
          </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>RUN</p><p>Hatta Ignite</p></div>
  			    <img src="/images/gallery/run-hatta-01.jpg" />
  			  </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-07.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Kite Beach</p></div>
            <img src="/images/gallery/run-kite-01.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-05.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-03.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-06.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-08.jpg" />
          </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>RUN</p><p>Capetown</p></div>
  			    <img src="/images/gallery/run-capetown-02.jpg" />
  			  </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-07.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Dubai Water Canal</p></div>
            <img src="/images/gallery/run-water-canal-02.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-09.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-04.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-08.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Kite Beach</p></div>
            <img src="/images/gallery/run-kite-02.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-10.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Hatta Ignite</p></div>
            <img src="/images/gallery/run-hatta-02.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-09.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-12.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Capetown</p></div>
            <img src="/images/gallery/run-capetown-03.jpg" />
          </div>


          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-10.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>TAKEOVER</p><p>Tingaling</p></div>
            <img src="/images/gallery/takeover-tingaling-13.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Track</p></div>
            <img src="/images/gallery/run-track-11.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Kite Beach</p></div>
            <img src="/images/gallery/run-kite-07.jpg" />
          </div>
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Dubai Water Canal</p></div>
            <img src="/images/gallery/run-water-canal-03.jpg" />
          </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Kite Beach</p></div>
            <img src="/images/gallery/run-kite-03.jpg" />
          </div>
  			  <div class="grid-item">
  			  	<div class="red"></div><div class="description"><p>RUN</p><p>Capetown</p></div>
  			    <img src="/images/gallery/run-capetown-04.jpg" />
  			  </div>

          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Dubai Water Canal</p></div>
            <img src="/images/gallery/run-water-canal-04.jpg" />
          </div>
  			  
          <div class="grid-item">
            <div class="red"></div><div class="description"><p>RUN</p><p>Kite Beach</p></div>
            <img src="/images/gallery/run-kite-06.jpg" />
          </div>
  			  
  			</div>
  		</div>
  	</div>
    </div>
  </div>
  
</div>
<div class="dirt-white"></div>
<% block('localScripts', '<script src="/dependencies/imagesloaded.pkgd.min.js"></script>') %>
<% block('localScripts', '<script src="/dependencies/masonry.pkgd.min.js"></script>') %>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
