<div id="parties" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div id="map-parties" class="hero d-flex flex-column justify-content-center" full-page-hero>
    
  </div>
  <div class="info-box">
  	<p class="title">Miss Lily's Takeover</p>
  	<p class="info">
  		<span class="date">Monday 16th</span>
  		<span class="separator">|</span>
  		<span class="time">7:00 pm</span>
  		<span class="separator">|</span>
  		<span class="place">Burj Khalifa basement</span>
  	</p>
  </div>
  
  
</div>
<div class="dirt-white"></div>
<% block('localScripts', '<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9It6RmhrAvjHSUoQx6ROy2om1mm6pMyA"></script>') %>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
