<div id="parties" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div id="map-parties" class="hero d-flex flex-column justify-content-center" full-page-hero>
    
  </div>
  
  
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
