<div id="runs" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div id="map-runs" class="hero d-flex flex-column justify-content-center" full-page-hero>
    
  </div>
  <div class="info-box">
  	<p class="title">Downtown Run</p>
  	<p class="info">
  		<span class="date">Tuesday 17th</span>
  		<span class="separator">|</span>
  		<span class="time">7:00 pm</span>
  		<span class="separator">|</span>
  		<span class="place">Dubai Water Canal Walk</span>
  	</p>
  </div>
  
</div>
<% block('localScripts', '<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9It6RmhrAvjHSUoQx6ROy2om1mm6pMyA"></script>') %>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
